.body_bg {
  background-color: #1a253f;
}

.img_bg {
  background-color: #ffffff;
  width: 75px;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* banner styling */
.left_col {
  height: 100%;
  width: 200px;
  padding: 10px;
  border: 1px solid #2d70ff;
  border-radius: 3px;
  background-image: linear-gradient(#2a4580, #1a253f);
  color: #ffffff;
}

/* only affects a and label tags inside the banner*/
.left_col a,
label {
  vertical-align: top;
  font-size: small;
  color: #ffffff;
}

.left_col a:hover {
  color: #00cef2;
}

.right_col {
  margin: 0;
  height: 100%;
  color: #eeeeee;
}

.section_style {
  padding: 0 20px;
}

.section_style h3 {
  margin: 0;
  padding: 10px 0;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* align table in a row in skills section */
.center-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.center-row table {
  border-spacing: 10px;
  margin: 0 20px;
}

.center-row td {
  color: white;
  text-align: center;
  height: 20px;
  width: 100px;
  border-radius: 10px;
  background-color: #3c445c;
}

ul {
  list-style: none;
}

.mt {
  margin-top: 20px;
}

.sect_head {
  font-size: medium;
  color: #ffffff;
}

.mark {
  background-color: #00cef2;
  color: #0e1525;
}

.em {
  font-style: italic;
}

.fit-content {
  text-align: right;
  min-width: 150px;
}

/* nav styling */
.top_nav {
  display: flex;
  background-color: #3c445c;
}

.top_nav a {
  padding: 10px;
  text-decoration: none;
  font-size: x-small;
  color: #00cef2;
}

.top_nav a:hover {
  background-color: #4e5569;
  color: #ffffff;
}
.body_link_color a {
  color: #00cef2;
}

.body_link_color a:hover {
  color: #ffffff;
}

.hr_style {
  border: 2px solid #4e5569;
}

.td_r {
  vertical-align: top;
  width: 200px;
}

.txt_right {
  text-align: right;
}

.stretch_w {
  width: 100%;
}
