body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.banner {
  display: flex;
  align-items: flex-start;
  align-items: center;
  font-weight: bolder;
  background-color: #272727;
}

footer {
  color: #999999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: 5px;
}

fieldset {
  width: 50vw;
  background-color: rgb(255, 255, 255);
  border: none;
}

#synopsis {
  height: 100px;
  width: 50vw;
  padding: 10px;
}

label {
  border-left: 8px solid #d9eee1;
  margin-bottom: 10px;
  padding: 0px 1px 0px 3px;
  font-weight: bold;
  width: 100px;
  text-align: left;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 10px;
}

textarea {
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

input[type="button"],
.form-btn,
button {
  background-color: #96d4d4;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
  min-width: 60px;
  height: 25px;
  transition: background-color 0.5s ease;
}

input[type="button"]:hover:enabled,
.form-btn:hover:enabled,
input[type="submit"]:hover:enabled {
  background-color: #d9eee1;
  transition: background-color 0.25s ease;
}

input[type="text"],
input[type="number"] {
  margin-bottom: 3px;
  border-radius: 3px;
  border: 1px solid gray;
}

input:disabled,
input:disabled:hover {
  background-color: #eeeeee;
  transition: background-color 0.5s ease;
}

#delete:enabled {
  background-color: rgb(255, 130, 130);
}

#delete:enabled:hover {
  background-color: #ffc0c7;
}

#edit {
  background-color: #fff4a3;
  color: brown;
  border: 2px solid brown;
  margin-right: 10px;
  box-shadow: 3px 3px brown;
}
#edit:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px brown;
  transition: 0.25s ease-in-out;
}

#edit:hover {
  background-color: gold;
  transition: background-color 1s ease;
}

h1 {
  font-size: 50px;
  color: #96d4d4;
  margin-bottom: 0;
}
h4 {
  display: inline;
}
hr {
  border-top: 3px solid #ececec;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  margin-left: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.input_sm {
  width: 20px;
}

/* removes input up and down arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
