select, input:valid{
    color: #000000;
}

select, input:invalid{
    color: #ff0000;
}


input:required{
    background-color: #f3ff71;
}

#submit {
    background-color: #ffffff;
}

#submit:hover{
    background-color: #eeeeee;
}

form input, select{
    display:flex;
    border: 1px solid #666666;
    border-radius:3px;
    margin-bottom:5px;
    height:30px;
    color: #000000;
}

li {list-style-type: none;}

.form_title{
    color:#ffffff;
    font-size: large;
    padding: 10px;
    background-color: #00bc5e;
    border-radius: 4px;
}

#submit{
    color:#ffffff;
    background-color: #00bc5e;
    border: none;
    border-radius: 10px;
    font-size: large;
    text-align: right;
}

#submit:hover{
    background-color: #00a352;
}


